* {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #E5E5E5;
    padding-top: 46px;
}
.header{
    padding: 6px 0px;
    background-color: #0050B3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.header-block{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-menu{
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;

}
.m-menu .line{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.search-input{
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    /*width: 100%; */
    width: 336px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.user{
    display: flex;
    align-items: center;
}
.user-avatar{
    margin-right: 8px;
}
.user-name{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation-panel{
    display: flex;
    align-items: center;
}
.navigation-link{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}
.navigation-link:before{
    content: "";
    width: 1px;
    height: 16px;
    background-color:#003A8C;
    margin-right: 12px;
}
.navigation-link:last-child::after{
    content: "";
    width: 1px;
    height: 16px;
    background-color:#003A8C;
    margin-left: 12px;
}
.icons-panel{
    display: flex;
    align-items: center;
}
.icon-link{
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.icon-link:last-child::before{
    content: "";
    width: 1px;
    height: 16px;
    background-color:#003A8C;
    margin-right: 12px;
}
.header-icon{
    fill: #002766;
}
.header-icon:hover{
    fill: #FFFFFF;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.menu-sidebar{
    max-width: 192px;
    margin-top: 18px;
    margin-right: 18px;
}
.menu-sidebar .user{
    padding-left: 10px;
}
.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}
.menu-sidebar .user-name{
    color: #262626;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}
.nav-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px 0;
}
.nav-link{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    color: #595959;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.nav-link-load{
    display: flex;
    align-items: center;
    padding: 8px 12px 0;
    border-radius: 4px;
    color: #1890FF;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.nav-link.active{
    color: #000000;
    background: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}
.nav-text{
    margin-left: 8px;
}
.nav-text-load{
    margin-left: 12px;
}
.nav-title{
    color: #262626;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
    margin: 12px 0 0;
}
.main-feed{
    margin-top: 16px;
    max-width: 588px;
    flex-grow: 1;
}
.create-post{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}
.create-post-header{
    background: #F5F5F5;
    padding: 9px 16px;
}
.create-post-title{
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.create-post-body{
    padding: 16px 16px 24px;
    display: flex;
    align-items: center;
}
.create-post-input{
    margin-left: 16px;
    max-width: 100%;
}
.create-post-footer{
    display: flex;
    align-items: center;
    padding: 0 16px 16px;
    flex-wrap: wrap;
    
}
.create-post-footer::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    margin-bottom: 16px;
}
.tag{
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.tag-icon{
    margin-right: 8px;
}
.tag-icon:last-child{
    margin-right: 0;
}
.post{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}
.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.post-header-button{
    background-color: #fff;
    border: none;
}
.post-header .user-avatar{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.post-info{
    display: flex;
    flex-wrap: wrap;
}
.post-author{
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
}
.post-time{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.post-time::after{
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #bfbfbf;
    border-radius: 50%;
    margin: 0 6px;
    vertical-align: middle;
}
.post-info-time{
    display: flex;
    align-items: center;
}
.post-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 16px;
}
.post-text a{
    color: #096DD9;
    text-decoration: none;
}
.post-image{
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    max-width: 100%;
}
.likes{
    display: flex;
    align-items: center;
    margin: 9px 0;
}
.likes-counter{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 4px;
}
.post-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.post-button{
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
}
.post-button-text{
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.post-button-icon{
    fill: #595959;
}
.post-footer::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    margin-bottom: 16px;
}
.right-sidebar{
    width: 384px;
}
.stories{
    margin-top: 16px;
    margin-left: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    padding-left: 24px;
}
.story-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}
.stories-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin: 0;
}
.stories-icon{
    fill: #0050B3;
    margin-right: 8px;
    vertical-align: middle;
}
.story-buttons{
    display: flex;
}

.story-button-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0050B3;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.story-button-link:first-child::after{
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #bfbfbf;
    border-radius: 50%;
    margin: 0 8px;
    vertical-align: middle;
}
.story-item-add, .story-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 16px;
}
.story-image{
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #1890FF;
    margin-right: 12px;
}
.story-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
}
.story-text{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    width: 100%;
    word-wrap: break-word;
}
.figma{
    background-image: url(../img/figma.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.birthday{
    margin-top: 16px;
    margin-left: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}
.birthday-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 8px;
}
.birthday-name{
    color: #0050B3;
    text-decoration: none;
}
.stats{
    margin-top: 16px;
    margin-left: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}
.stats-header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats-header::after{
   

}
.stats-line{
    display: block;
}
.stats-line::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
}
.stats-header-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
@media(max-width: 1250px){
    .container{
        justify-content: flex-start;
        width: 95%;
    }
    .right-sidebar{
        display: none;
    }
    .header-block{
        width: 95%;
    }
}
@media(max-width: 960px){
    .header .user{
        display: none;
    }
    .navigation-panel{
        display: none;
    }
}
@media(max-width: 840px){
    .menu-sidebar{
        position: fixed;
        top: 25px;
        left: 0;
        width: 100%;
        max-width: 250px;
        background: #f1f1f1;
        padding-top: 12px;
        height: 100%;
        padding-left: 2%;
        transform: translateX(-100%);
        transition: transform 0.2s;
    }
    .menu-sidebar.active{
        transform: translateX(0%);
    }
    .m-menu{
        display: flex;
    }
}
@media(max-width: 760px){
    .search{
        display: none;
    }
}